img {
    width:150px;
    height:150px;
}
.cb {
    width:190px;
    height:190px;
}
p {
    background-color:red;
}
h2 {
    background-color:blue;
    }
.red {
    background-color:red;
}
body {
    background-color:black;
}